[submodule "services/auth-service"]
	path = services/auth-service
	url = https://github.com/Kaseofer/auth-service.git
[submodule "shared/messaging"]
	path = shared/messaging
	url = https://github.com/Kaseofer/as-messaging.git
